@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">


    <div class="content px-4 container">
        @Body
    </div>

    <footer class="border-top footer text-muted m-4">
        <h3 class="display-4 text-center"> <img src=/images/yoyomoocLogo_background.png style="width: 280px;"/> </h3>


        <div class="container">
            © @DateTime.Now.Year <a href="https://www.52abp.com/" class="text-primary" target="_blank">52ABP.com</a>& <a href="https://www.yoyomooc.com/" class="text-primary" target="_blank">YoYoMooc.com</a> -  Powered by .NET @Environment.Version.ToString()

           
        </div>
    </footer>
</div>
